// ANIMATION ACCEUIL

/*HEART ANIMATION*/
@mixin anim_coeur {
  @keyframes heart_animation {
    from {
      opacity: 0;
      transform: scale(0, 0);
    }
    to {
      opacity: 1;
      transform: scale(1.5, 1.5);
    }
  }
}

// ANIMATION MENU

// APPARITION PROGRESSIVE
@mixin progressive_appearence {
  @keyframes progressive_appearence {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
// ANIMATION CHECK

@mixin anim_green_translate {
  @keyframes animation_background {
    0% {
      width: 0rem;
      opacity: 0;
    }
    100% {
      width: 4rem;
      opacity: 1;
    }
  }
}

@mixin anim_check {
  @keyframes circle_spinning {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }
}

@mixin anim_green_translate_reverse {
  @keyframes animation_background_reverse {
    0% {
      width: 4rem;
      opacity: 1;
    }
    100% {
      width: 0rem;
      opacity: 0;
    }
  }
}
