// ANIMATION ACCEUIL

/*HEART ANIMATION*/
@mixin anim_coeur {
  @keyframes heart_animation {
    0% {
      font-size: 0rem;
    }

    100% {
      font-size: 1.6rem;
    }
  }
}

// ANIMATION MENU

// APPARITION PROGRESSIVE
@mixin progressive_appearence {
  @keyframes progressive_appearence {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
// ANIMATION CHECK

@mixin anim_green_translate {
  @keyframes animation_background {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 17%;
      opacity: 1;
    }
  }
}

@mixin anim_check {
  @keyframes circle_spinning {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }
}

@mixin anim_green_translate_reverse {
  @keyframes animation_background_reverse {
    0% {
      width: 17%;
      opacity: 1;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
}

// ANIMATION ARRIVEE SUR PAGE
@mixin loading_spinner {
  @keyframes hideLoadingSpinner {
    0% {
      z-index: 1;
      opacity: 1;
    }
    100% {
      z-index: -2;
      opacity: 0;
    }
  }
  @keyframes loadingSpinner {
    0% {
      letter-spacing: 0.2rem;
    }
    50% {
      color: #ff79da;
    }
    90% {
      letter-spacing: 1rem;
      opacity: 1;
    }
    100% {
      z-index: -3;
      opacity: 0;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    animation: hideLoadingSpinner 0.5s ease-out 2.4s 1 forwards;
    opacity: 1;
    z-index: 1;
  }

  .container span {
    text-transform: uppercase;
    display: block;
  }
  .text1 {
    color: #9356dc;
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: white;
    position: relative;
    animation: loadingSpinner 1.7s ease-in 1 forwards;
    z-index: 1;
    opacity: 1;
  }
}
