@import "variables.scss";
@import "animations.scss";
@include loading_spinner;

body {
  font-family: Roboto, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}

//HEADER

header {
  @include flexColumnCenter;
  h1 {
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 0.7rem;
  }
  .localisation {
    @include flexAndJustify;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    background-color: #eaeaea;
    font-weight: bolder;
    .fa,
    .fas {
      padding-right: 0.6rem;
    }
  }
  article {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
    @include flexColumnCenter;
    h3 {
      text-align: center;
      font-size: 1.5rem;
      padding: 0rem 3rem 0rem 3rem;
      margin-bottom: 0rem;
    }
    .text_article {
      padding: 0rem 3rem 1rem 3rem;
    }
    span.button_visit {
      @include btn-style;
      margin: auto;
      padding: 1rem 1.5rem 1rem 1.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #f6f6f6;
      &:hover {
        @include hoverButtonStyle;
      }
      a {
        color: white;
      }
    }
  }
}

// FONCTIONNEMENT

.fonctionnement {
  padding-bottom: 2rem;
  h2 {
    padding: 1.5rem 2rem 1rem 2rem;
  }
  .fonctionnement_item {
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #e0dfdf;
    background-color: #f6f6f6;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.7rem 0rem 0.7rem 0.7rem;
    transition: all 333ms;
    &:hover {
      background-color: #fcf3ff;
      box-shadow: 2px 6px 2px #f0ecec;
    }
    &:hover {
      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
        color: #9356dc;
        transform: scale(1.05);
      }
    }

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      color: #7e7e7e;
    }
    .numbers {
      background-color: #9356dc;
      border-radius: 90%;
      height: 0.7rem;
      width: 0.7rem;
      padding: 0.4rem 0.6rem 0.8rem 0.6rem;
      color: white;
      @include flexJustifyAlign;
      transform: translate(-1.4rem, 0.8rem);
    }
    .fas {
      font-size: 1.3rem;
      margin: 1rem;
    }
    h6 {
      font-size: 1.1rem;
      margin: 1rem;
    }
  }
}

// RESTAURANTS

main {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  h2 {
    padding: 1.5rem 2rem 1rem 2rem;
  }

  .restaurant_item {
    padding: 0rem 1rem 1rem 1rem;
    i.far {
      font-size: 1.4rem;
      transition: 250ms;
    }
    i.fas {
      font-size: 0rem;
      color: #f55eca;
      transition: 300ms;
    }
    &:hover {
      cursor: pointer;
      i.fas {
        font-size: 1.6rem;
      }
      i.far {
        font-size: 0.4;
      }
    }
    .conteneur_photo {
      .photo_restaurant {
        position: relative;
        height: 11rem;
        width: 100%;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
        margin: 0rem;
        padding: 0rem;
        object-fit: cover;
      }
      .nouveaute {
        position: absolute;
        font-weight: bold;
        color: #0c8e6f;
        background-color: #99e2d0;
        transform: translate(-7rem, 1rem);
        border-radius: 5px;
        padding: 0.5rem 1rem 0.5rem 1rem;
      }
    }
    .conteneur_sous_photo {
      display: flex;
      background-color: white;
      border-bottom-right-radius: 13px;
      border-bottom-left-radius: 13px;
      box-shadow: 2px 6px 2px #f0ecec;
      margin: 0rem;
      padding: 0rem;
    }
    article {
      flex: 11;
      display: flex;
      flex-direction: column;
      h4 {
        margin: 1rem 0rem 0rem 1rem;
        font-weight: bolder;
        font-size: 1.1rem;
        color: black;
      }
      h5 {
        margin: 0rem 0rem 1rem 1rem;
        font-size: 1.1rem;
        color: #6c6c6c;
      }
    }
    .restaurants_underimg_heart {
      flex: 2;
      transform: translateY(1rem);
    }
  }
}

// Footer
@include footer_acceuil;

//RESPONSIVE
@media screen and (min-width: 210px) {
  header {
    article {
      padding: 0;
      h3 {
        padding: 0;
        font-size: 1.3rem;
      }
      .text_article {
        padding: 0.2rem;
      }
      span.button_visit {
        font-size: 0.8rem;
      }
    }
  }
  .fonctionnement {
    padding-bottom: 0rem;
    h2 {
      padding: 1.5rem 2rem 1rem 2rem;
    }
    .fonctionnement_item {
      display: flex;
      border-radius: 20px;
      box-shadow: 2px 2px 2px #e0dfdf;
      background-color: #f6f6f6;
      margin: 1rem 1rem 1rem 1rem;
      padding: 0.7rem 0rem 0.7rem 0.7rem;
      transition: all 333ms;
      &:hover {
        background-color: #fcf3ff;
        box-shadow: 2px 6px 2px #f0ecec;
        .fa-mobile-alt,
        .fa-list-ul,
        .fa-store {
          color: #9356dc;
          transform: scale(1.05);
        }
      }
      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
        color: #7e7e7e;
      }
      .numbers {
        background-color: #9356dc;
        border-radius: 90%;
        height: 0.7rem;
        width: 0.7rem;
        padding: 0.4rem 0.6rem 0.8rem 0.6rem;
        color: white;
        @include flexJustifyAlign;
        transform: translate(-1.4rem);
      }
      .fas {
        font-size: 1rem;
        margin: 0.5rem 0rem 0rem 0rem;
      }
      h6 {
        font-size: 0.7rem;
        margin: 0.5rem 0rem 0rem 0.5rem;
      }
    }
  }

  main {
    padding-bottom: 0;
    .restaurant_item {
      padding: 0rem 1rem 1rem 1rem;
      i.far {
        font-size: 1.2rem;
        transition: 250ms;
      }
      i.fas {
        font-size: 0rem;
        color: #f55eca;
        transition: 300ms;
      }
      &:hover {
        cursor: pointer;
        i.fas {
          font-size: 1.4rem;
        }
        i.far {
          font-size: 0.4;
        }
      }
      .conteneur_photo {
        .photo_restaurant {
          height: 8rem;
        }
      }

      article {
        h4 {
          font-size: 1rem;
        }
        h5 {
          font-size: 0.9rem;
        }
      }
    }
  }
  footer {
    ul {
      padding-bottom: 0.5rem;
    }
  }
  @keyframes hideLoadingSpinner {
    0% {
      z-index: 1;
      opacity: 1;
    }
    100% {
      z-index: -2;
      opacity: 0;
    }
  }
  @keyframes loadingSpinner {
    0% {
      letter-spacing: 0.2rem;
    }
    50% {
      color: #ff79da;
    }
    90% {
      letter-spacing: 0.5em;
      opacity: 1;
    }
    100% {
      z-index: -3;
      opacity: 0;
    }
  }
  .text1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 262px) {
  .fonctionnement {
    padding-bottom: 0rem;
    h2 {
      padding: 1.5rem 2rem 1rem 2rem;
    }
    .fonctionnement_item {
      .numbers {
        background-color: #9356dc;
        border-radius: 90%;
        height: 0.7rem;
        width: 0.7rem;
        padding: 0.4rem 0.6rem 0.8rem 0.6rem;
        color: white;
        @include flexJustifyAlign;
        transform: translate(-1.4rem);
      }
      .fas {
        font-size: 1.2rem;
        margin: 0.5rem 0rem 0rem 0rem;
      }
      h6 {
        font-size: 0.9rem;
        margin: 0.5rem 0rem 0rem 1rem;
      }
    }
  }
}
@media screen and (min-width: 330px) {
  header {
    article {
      padding-bottom: 1rem;
      h3 {
        padding: 0;
        font-size: 1.5rem;
      }
      .text_article {
        padding: 0.1rem;
        margin-top: 0.2rem;
      }
      span.button_visit {
        font-size: 0.9rem;
      }
    }
  }
  .fonctionnement {
    padding-bottom: 1rem;
    h2 {
      padding: 0.2rem 2rem 1rem 2rem;
    }
    .fonctionnement_item {
      .numbers {
        background-color: #9356dc;
        border-radius: 90%;
        height: 0.7rem;
        width: 0.7rem;
        padding: 0.4rem 0.6rem 0.8rem 0.6rem;
        color: white;
        @include flexJustifyAlign;
        transform: translate(-1.4rem);
      }
      .fas {
        font-size: 1.2rem;
        margin: 0.5rem 0rem 0rem 1rem;
      }
      h6 {
        font-size: 0.9rem;
        margin: 0.5rem 0rem 0rem 2rem;
      }
    }
  }
}
main {
  padding-bottom: 0;
  .restaurant_item {
    padding: 0rem 1rem 1rem 1rem;
    i.far {
      font-size: 1.2rem;
      transition: 250ms;
    }
    i.fas {
      font-size: 0rem;
      color: #f55eca;
      transition: 300ms;
    }
    &:hover {
      cursor: pointer;
      i.fas {
        font-size: 1.4rem;
      }
      i.far {
        font-size: 0.4;
      }
    }
    .conteneur_photo {
      .photo_restaurant {
        height: 12rem;
      }
    }

    article {
      h4 {
        font-size: 1rem;
      }
      h5 {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (min-width: 370px) {
  header {
    article {
      padding-bottom: 1rem;
      h3 {
        padding: 0rem 1.5rem 0rem 1.5rem;

        font-size: 1.5rem;
      }
      .text_article {
        padding: 0rem 1.5rem 0rem 1.5rem;
        margin-top: 0.2rem;
      }
      span.button_visit {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (min-width: 390px) {
  @keyframes hideLoadingSpinner {
    0% {
      z-index: 1;
      opacity: 1;
    }
    100% {
      z-index: -2;
      opacity: 0;
    }
  }
  @keyframes loadingSpinner {
    0% {
      letter-spacing: 0.2rem;
    }
    50% {
      color: #ff79da;
    }
    90% {
      letter-spacing: 0.7rem;
      opacity: 1;
    }
    100% {
      z-index: -3;
      opacity: 0;
    }
  }
  .text1 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 420px) {
  header {
    h1 {
      font-size: 2.2rem;
    }
  }
  main .restaurant_item .conteneur_photo .photo_restaurant {
    height: 13rem;
  }
}
@media screen and (min-width: 500px) {
  .fonctionnement .fonctionnement_item h6 {
    margin-left: 2rem;
    font-size: 1.1rem;
  }
  main .restaurant_item .conteneur_photo .photo_restaurant {
    height: 15rem;
  }
  header {
    h1 {
      font-size: 2.4rem;
    }
  }
}
@media screen and (min-width: 600px) {
  main .restaurant_item .conteneur_photo .photo_restaurant {
    height: 17rem;
  }
  header {
    h1 {
      font-size: 2.6rem;
    }
  }
}
@media screen and (min-width: 720px) {
  header {
    h1 {
      font-size: 2.8rem;
    }
  }
  footer {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;
      li {
        display: inline;
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (min-width: 766px) {
  h2 {
    text-align: center;
  }
  .fonctionnement {
    .items_container {
      display: flex;
      justify-content: space-evenly;
      h6 {
        font-size: 0.9rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
        font-size: 0.9rem;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  main {
    .restaurant_item_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .restaurant_item {
        width: 45%;
        padding-bottom: 2rem;
        .conteneur_photo img {
          height: 12rem;
        }
      }
    }
  }
}
@media screen and (min-width: 890px) {
  h2 {
    font-size: 2rem;
  }
  @keyframes loadingSpinner {
    0% {
      letter-spacing: 0.3rem;
    }
    50% {
      color: #ff79da;
    }
    90% {
      letter-spacing: 1.2rem;
      opacity: 1;
    }
    100% {
      z-index: -3;
      opacity: 0;
    }
  }
  .text1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 930px) {
  .fonctionnement {
    .items_container {
      display: flex;
      justify-content: space-evenly;

      h6 {
        font-size: 1rem;
        margin-right: 1rem;
        margin-left: 0.5rem;
      }
      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 1010px) {
  header {
    h1 {
      font-size: 2.9rem;
    }
  }
  main .restaurant_item_container .restaurant_item .conteneur_photo img {
    height: 15rem;
  }
  .fonctionnement {
    .items_container {
      display: flex;
      justify-content: space-evenly;
      h6 {
        font-size: 1.1rem;
        margin-right: 2rem;
        margin-left: 0.5rem;
      }
      .fa-mobile-alt,
      .fa-list-ul,
      .fa-store {
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1030px) {
  @keyframes loadingSpinner {
    0% {
      letter-spacing: 0.4rem;
    }
    50% {
      color: #ff79da;
    }
    90% {
      letter-spacing: 1.3rem;
      opacity: 1;
    }
    100% {
      z-index: -3;
      opacity: 0;
    }
  }
  .text1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1110px) {
  main .restaurant_item_container .restaurant_item .conteneur_photo img {
    height: 16rem;
  }
}

@media screen and (min-width: 1300px) {
  main .restaurant_item_container .restaurant_item .conteneur_photo img {
    height: 20rem;
  }
}
