@import "variables.scss";
@import "animations.scss";

@include anim_green_translate;
@include anim_check;
@include anim_coeur;
@include anim_green_translate_reverse;
@include progressive_appearence;
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

// NAV !
nav {
  @include flexAndAlign;
  h1 {
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 1.7rem;
    font-weight: bolder;
    padding-left: 4rem;
    margin-bottom: 0.7rem;
  }
  .fa-arrow-left {
    font-size: 1.2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    text-decoration: none;
    &:active {
      transform: scale(1.2);
    }
  }
}
// HEADER
header {
  display: flex;
  flex-direction: column;
  i.far {
    opacity: 1;
    font-size: 1.4rem;
  }
  i.fas {
    opacity: 0;
    color: #f55eca;
  }
  &:hover {
    cursor: pointer;
    i.fas {
      animation: heart_animation 350ms ease-in-out forwards;
    }
    i.far {
      opacity: 0;
    }
  }
  img.restaurantpicture {
    height: 15rem;
  }
  .sous-partie_header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    z-index: 3;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f6f6f6;

    h2 {
      flex: 11rem;
      font-family: Shrikhand, "Times New Roman", Times, serif;
      font-size: 1.7rem;
      font-weight: bolder;
      color: black;
    }
    span.fa-stack {
      flex: 2;
    }
  }
}
main {
  background-color: #f6f6f6;
  :nth-child(2) {
    animation: progressive_appearence 0.3s ease-out both 0.3s;
  }
  :nth-child(3) {
    animation: progressive_appearence 0.3s ease-out both 0.5s;
  }
  :nth-child(4) {
    animation: progressive_appearence 0.3s ease-out both 0.7s;
  }
  :nth-child(6) {
    animation: progressive_appearence 0.3s ease-out both 0.9s;
  }
  :nth-child(7) {
    animation: progressive_appearence 0.3s ease-out both 1.1s;
  }
  :nth-child(8) {
    animation: progressive_appearence 0.3s ease-out both 1.3s;
  }
  :nth-child(10) {
    animation: progressive_appearence 0.3s ease-out both 1.4s;
  }
  :nth-child(11) {
    animation: progressive_appearence 0.3s ease-out both 1.6s;
  }
  :nth-child(12) {
    animation: progressive_appearence 0.3s ease-out both 1.7s;
  }
  h3 {
    font-size: 1.2rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    color: #7d7d7d;
    span.underline {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #99e2d0;
    }
  }
  .menu_item {
    display: flex;
    border-radius: 17px;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    cursor: pointer;
    box-shadow: 2px 6px 2px #f0ecec;
    &:hover {
      .main_container_animation {
        animation: animation_background 0.5s ease-in-out both;

        .fa-check-circle {
          animation: circle_spinning 0.4s ease-in-out both;
        }
      }
    }

    .main_container_unanimated {
      flex: 5;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    h4 {
      font-weight: bolder;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0;
      margin-left: 1rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1rem;
      margin-top: 0.2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #7e7e7e;
    }

    .main_container_price {
      flex: 1;
      display: flex;
      align-items: center;
    }
    span.price {
      margin-bottom: 0rem;
      padding-top: 0.5rem;
      font-weight: bolder;
    }
    .main_container_animation {
      width: 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
      opacity: 0;
      animation: animation_background_reverse 0.4s ease-in-out both;
    }
    .fa-check-circle {
      font-size: 2rem;
      color: white;
    }
  }
  .container_button {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 2rem 0rem;
  }
  button {
    @include btn-style;
    padding: 1rem 2.5rem 1rem 2.5rem;

    font-size: 1rem;
    color: #f6f6f6;
    &:active {
      @include hoverButtonStyle;
    }
  }
}
// MAIN

/* EN TETE !
img.restaurantpicture {
  height: 20rem;
  max-width: 100%;
  margin-bottom: -2rem;
}

h2 {
  font-size: 1rem;
  padding-left: 1.5rem;
  color: #7d7d7d;
}
.underline {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #99e2d0;
}
.restaurantname {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-top: -1rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  h1 {
    flex: 6;
    padding-left: 1.5rem;
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 1.5rem;
  }
  .fa-heart {
    flex: 1;
    padding-right: 1.5rem;
    font-size: 1.5rem;
    color: gray;
    animation: bouncyHeart 1.5s ease-in-out 4s alternate 1;
  }
}
// CORPS DE LA PAGE !
section.main {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

section.main_container_entree {
  display: flex;
  border-radius: 17px;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

section.main > section.main_container_entree {
  animation: progressive_appearence 1s ease-in-out both 0.2s;
}

section.main_container_plat {
  display: flex;
  border-radius: 17px;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
}
section.main > section.main_container_plat {
  animation: progressive_appearence 1.1s ease-in-out both 0.6s;
}

section.main_container_dessert {
  display: flex;
  border-radius: 17px;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
}
section.main > section.main_container_dessert {
  animation: progressive_appearence 1.3s ease-in-out both 1s;
}

.main_container_unanimated {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h3 {
  font-weight: bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-top: 0.8rem;
}
h4 {
  margin-top: 0.3rem;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #515151;
}

.main_container_price {
  flex: 1;
  display: flex;
  align-items: center;
}
p.price {
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  font-weight: bolder;
}
.main_container_animation {
  width: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  opacity: 0;
  animation: animation_background_reverse 0.3s linear both;
}
.fa-check-circle {
  font-size: 2rem;
  color: white;
}
// ANIMATION !
.main_container_entree {
  opacity: 1;
  cursor: pointer;
  &:hover {
    .main_container_animation {
      animation: animation_background 0.5s ease-in-out both;

      .fa-check-circle {
        animation: circle_spinning 0.3s cubic-bezier(0.34, 0.48, 0.92, 0.66)
          both;
      }
    }
  }
}
.main_container_plat {
  opacity: 1;
  cursor: pointer;
  &:hover {
    .main_container_animation {
      animation: animation_background 0.3s ease-in-out both;

      .fa-check-circle {
        animation: circle_spinning 0.3s cubic-bezier(0.34, 0.48, 0.92, 0.66)
          both;
      }
    }
  }
}
.main_container_dessert {
  opacity: 1;
  cursor: pointer;
  &:hover {
    .main_container_animation {
      animation: animation_background 0.3s linear both;
      .fa-check-circle {
        animation: circle_spinning 0.3s cubic-bezier(0.34, 0.48, 0.92, 0.66)
          both;
      }
    }
  }
}

@keyframes progressive_appearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation_background {
  0% {
    transform: translate(0rem);
    opacity: 0;
  }
  10% {
    transform: translate(0.5rem);
  }
  20% {
    transform: translate(1rem);
  }
  30% {
    transform: translate(1.5rem);
  }
  40% {
    transform: translate(2rem);
  }
  50% {
    transform: translate(2.5rem);
  }
  60% {
    transform: translate(3rem);
  }
  70% {
    transform: translate(3.5rem);
  }
  80% {
    transform: translate(4rem);
  }
  90% {
    transform: translate(4.5rem);
  }
  100% {
    transform: translate(5rem);
    opacity: 1;
  }
}

@keyframes animation_background_reverse {
  0% {
    width: 5rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    opacity: 0.5;
  }
}

@keyframes circle_spinning {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(289deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
// ANIMATION APPARITION PROGRESSIVE !

// BUTTON VISIT !

div.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.button_visit {
  @include btn-style;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  margin-bottom: 2.5rem;
  font-size: 1em;
  width: 10rem;
  &:hover {
    @include hoverButtonStyle;
  }
}

/*Footer*/
footer {
  background-color: #353535;
  ul {
    padding-left: 1rem;
    color: rgb(248, 247, 247);
    margin: 0;
    padding-bottom: 2rem;
    li {
      padding-bottom: 0.4rem;
      list-style: none;
      .fas {
        padding-right: 0.4rem;
        font-size: 0.8rem;
      }
    }
  }
  h6 {
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 1.1rem;
    font-weight: bolder;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
  }
}

/*KEYFRAMES
@media (max-width: 350px) {
  img.logo {
    width: 8rem;
  }
  img.restaurantpicture {
    height: 13rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  */
/*
  footer h6 {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  footer > p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0rem 5rem 0rem 5rem;
  }
  img.logo {
    height: 3rem;
    width: 18rem;
  }
  header .fa-arrow-left {
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  img.restaurantpicture {
    height: 23rem;
  }
  .restaurantname h1 {
    font-size: 2rem;
  }
  .underline {
    border-bottom-width: 4px;
  }

  .restaurantname .fa-heart {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p.price {
    font-size: 1.3rem;
  }
  i.fas.fa-check-circle {
    font-size: 2rem;
  }
  @keyframes animation_background {
    0% {
      width: 0rem;
      opacity: 0;
    }
    100% {
      width: 6rem;
      opacity: 1;
    }
  }
  .button_visit {
    font-size: 1.5rem;
    width: 18rem;
    border-radius: 50px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h5 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  footer h6 {
    font-size: 1rem;
    font-weight: bolder;
  }
  footer > p {
    font-size: 1rem;
  }
  footer .footer_contact {
    padding-bottom: 2rem;
  }
}
@media (min-width: 900px) {
  body {
    margin: 0rem 8rem 0rem 8rem;
  }
}

@media (min-width: 1100px) {
  body {
    margin: 0rem 13rem 0rem 13rem;
  }
}

@media (min-width: 1240px) {
  body {
    margin: 0rem 16rem 0rem 16rem;
  }
}
*/
