@import "variables.scss";
@import "animations.scss";

@include anim_green_translate;
@include anim_check;
@include anim_coeur;
@include anim_green_translate_reverse;
@include progressive_appearence;

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

// NAV !
nav {
  display: flex;
  align-items: center;
  text-align: center;
  .fa-arrow-left {
    font-size: 1.2rem;
    margin-left: 1rem;
    justify-self: start;
    text-decoration: none;
    &:active {
      transform: scale(1.2);
    }
  }
  h1 {
    font-family: Shrikhand, "Times New Roman", Times, serif;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 0.7rem;
    margin-left: -1rem;
    margin: auto;
  }
}
// HEADER
header {
  display: flex;
  flex-direction: column;
  i.far {
    font-size: 1.4rem;
  }
  i.fas {
    font-size: 0rem;
    color: #f55eca;
  }
  &:hover {
    cursor: pointer;
    i.fas {
      animation: heart_animation 300ms ease-in-out forwards;
    }
  }
  img.restaurantpicture {
    height: 15rem;
    object-fit: cover;
  }
  .sous-partie_header {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #f6f6f6;
    div.fa-stack {
      justify-self: flex-end;
    }

    h2 {
      font-family: Shrikhand, "Times New Roman", Times, serif;
      font-size: 1.7rem;
      font-weight: bolder;
      color: black;
    }
  }
}
main {
  background-color: #f6f6f6;
  .entree_container {
    section:nth-of-type(1) {
      animation: progressive_appearence 0.3s ease-out both 0.3s;
    }
    section:nth-of-type(2) {
      animation: progressive_appearence 0.3s ease-out both 0.5s;
    }
    section:nth-of-type(3) {
      animation: progressive_appearence 0.3s ease-out both 0.7s;
    }
  }
  .plat_container {
    section:nth-of-type(1) {
      animation: progressive_appearence 0.3s ease-out both 0.9s;
    }
    section:nth-of-type(2) {
      animation: progressive_appearence 0.3s ease-out both 1.1s;
    }
    section:nth-of-type(3) {
      animation: progressive_appearence 0.3s ease-out both 1.3s;
    }
  }
  .dessert_container {
    section:nth-of-type(1) {
      animation: progressive_appearence 0.3s ease-out both 1.5s;
    }
    section:nth-of-type(2) {
      animation: progressive_appearence 0.3s ease-out both 1.7s;
    }
    section:nth-of-type(3) {
      animation: progressive_appearence 0.3s ease-out both 1.9s;
    }
  }

  h3 {
    font-size: 1.2rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    color: #7d7d7d;
    span.underline {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #99e2d0;
    }
  }
  .menu_item {
    display: flex;
    border-radius: 17px;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    cursor: pointer;
    box-shadow: 2px 6px 2px #f0ecec;
    &:hover {
      .main_container_animation {
        animation: animation_background 0.5s ease-in-out both;

        .fa-check-circle {
          animation: circle_spinning 0.4s ease-in-out both;
        }
      }
    }

    .main_container_unanimated {
      flex: 5;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    h4 {
      font-weight: bolder;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0;
      margin-left: 1rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1rem;
      margin-top: 0.2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #7e7e7e;
    }

    .main_container_price {
      flex: 1;
      display: flex;
      align-items: center;
    }
    span.price {
      margin-bottom: 0rem;
      padding-top: 0.5rem;
      font-weight: bolder;
    }
    .main_container_animation {
      width: 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
      opacity: 0;
      animation: animation_background_reverse 0.4s ease-in-out both;
    }
    .fa-check-circle {
      font-size: 2rem;
      color: white;
    }
  }
  .container_button {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 2rem 0rem;
  }
  button {
    @include btn-style;
    padding: 1rem 2.5rem 1rem 2.5rem;

    font-size: 1rem;
    color: #f6f6f6;
    &:hover {
      @include hoverButtonStyle;
    }
  }
}
@media screen and (max-width: 330px) {
  main .menu_item h4 {
    font-size: 1rem;
  }
  main .menu_item h5 {
    font-size: 0.9rem;
  }
}
@include footer;
@media screen and (min-width: 420px) {
  nav {
    h1 {
      font-size: 2.2rem;
    }
  }
}
@media screen and (min-width: 500px) {
  nav {
    h1 {
      font-size: 2.4rem;
    }
  }
}
@media screen and (min-width: 600px) {
  nav {
    h1 {
      font-size: 2.6rem;
    }
  }
}
@media screen and (min-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    img.restaurantpicture {
      height: 40vh;
      object-fit: cover;
    }
  }
  nav {
    h1 {
      font-size: 2.8rem;
    }
  }
}

@media screen and (min-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    img.restaurantpicture {
      height: 45vh;
      object-fit: cover;
    }
    .sous-partie_header {
      display: flex;
      align-items: center;
      justify-content: center;
      div.fa-stack {
        transform: translateX(1.5rem);
      }
    }
  }

  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    padding-top: 0rem;
    .menu_item h4 {
      font-size: 0.8rem;
      margin: 0.7rem 0rem 0rem 0.7rem;
    }
    .menu_item h5 {
      font-size: 0.7rem;
      margin: 0rem 0rem 0.7rem 0.7rem;
    }
    h3 {
      text-align: center;
      padding: 0;
    }
    .entree_container {
      width: 33%;
    }
    .plat_container {
      width: 33%;
    }
    .dessert_container {
      width: 33%;
    }
  }
  footer {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;
      li {
        display: inline;
        margin-right: 1rem;
      }
    }
  }
}
@media screen and (min-width: 850px) {
  nav {
    h1 {
      font-size: 2.9rem;
    }
  }
  .menu_item {
    h4 {
      margin-top: 1rem;
      padding-left: 1rem;
    }
    h5 {
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
  }
}
@media screen and (min-width: 950px) {
  main {
    padding-bottom: 3rem;
    .menu_item h4 {
      font-size: 1rem;
      margin: 0.7rem 0rem 0rem 0.7rem;
    }
    .menu_item h5 {
      font-size: 0.9rem;
      margin: 0rem 0rem 0.7rem 0.7rem;
    }
  }
}
@media screen and (min-width: 1020px) {
  header {
    display: flex;
    flex-direction: column;
    img.restaurantpicture {
      height: 75vh;
      object-fit: cover;
    }
    .sous-partie_header h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1130px) {
  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    padding-top: 2rem;
    h3 {
      text-align: center;
      padding: 0;
    }
    header {
      display: flex;
      flex-direction: column;
      img.restaurantpicture {
        height: 75vh;
        object-fit: cover;
      }
      .sous-partie_header h2 {
        font-size: 2.2rem;
      }
    }
  }
}
@media screen and (min-width: 1220px) {
  header {
    display: flex;
    flex-direction: column;
    img.restaurantpicture {
      height: 80vh;
      object-fit: cover;
    }
    .sous-partie_header h2 {
      font-size: 2.3rem;
    }
  }
}
@media screen and (min-width: 1400px) {
  header {
    display: flex;
    flex-direction: column;
    img.restaurantpicture {
      height: 85vh;
      object-fit: cover;
    }
    .sous-partie_header h2 {
      font-size: 2.6rem;
    }
  }
}
